.box1{
    color: blue;
    height: 50px;
    width: 50px;
    border: none;
}
.box2{
    color: yellowgreen;

}
.bus{
    background-image: url(image/sec4-image.jpg);
    width: 100%;
    height: 500px;
}
